.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
}
  
 .card img {
    width: 100%;
    height: auto;
 }
  
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 2rem auto;

}
  #productsSelector {
    width: 40%;
    height: 2rem;
  }
  